@charset "UTF-8";
/* CSS Document */

/*------------------------------

Global Setting

------------------------------*/
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 22px;
	color: #333;
	-webkit-text-size-adjust: none;
}

a {
	text-decoration: none;
	color: #333;
}

.cfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
 
.cfix {
	display: inline-table;
	min-height: 1%;
}
 
* html .cfix {
	height: 1%;
}
.cfix {
	display: block;
}

.page {
	width: 580px;
	margin: 0 auto;
}

/*------------------------------

Layout Setting

------------------------------*/
#wrapper {
	width: 640px;
	overflow-y: hidden;
	margin: 0 auto;
}

#header {
}

h1#siteLogo {
	padding: 30px;
	text-align: center;
}

#globalNavi {
	background: url(../img/layout/i_gNavBg.png) 0 0 no-repeat;
}

#globalNavi ul li {
	float: left;
	width: 112px;
	height: 55px;
	margin-right: 5px;
	line-height: 0;
}

#globalNavi ul li:last-child {
	margin-right: 0;
}

#globalNavi ul li span {
	display: block;
	width: 114px;
	height: 55px;
}

#globalNavi ul li span img {
	cursor: pointer;
}

#globalNavi ul li.select span img {
	display: none;
}

#container {
	border-top: 5px solid #000;
	box-shadow: 0 0 5px rgba(221,221,221,1);
	-webkit-box-shadow: 0 0 5px rgba(221,221,221,1);
	-moz-box-shadow: 0 0 5px rgba(221,221,221,1);
}

#appBannerAd {
	padding: 20px 0 10px;
	background: url(../img/layout/appBannerAdbg.png) 0 0 repeat-x #eee;
	border-bottom: 1px solid #fff;
}

#appBannerAd ul li {
	margin-bottom: 10px;
	line-height: 0;
}

.appSummary {
	height: auto;
	border-top: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(221,221,221,1);
	-webkit-box-shadow: 0 1px 3px rgba(221,221,221,1);
	-moz-box-shadow: 0 1px 3px rgba(221,221,221,1);
}

.appSummary.none {
	height: 0 !important;
	border: none;
	overflow: hidden;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.appSummary figure {
	padding: 20px 30px 25px;
	background: url(appSummaryFigureBg.png) 0 bottom no-repeat #fff;
}

.appSummary figure .photo {
	position: relative;
	z-index: 2;
	float: left;
	width: 175px;
	height: 175px;
}

.appSummary figure .photo img {
	border-radius: 29px;
	-webkit-border-radius: 29px;
	-moz-border-radius: 29px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.appSummary figure .detail {
	float: right;
	width: 385px;
}

.appSummary figure .detail .title {
	padding-top: 10px;
	margin-bottom: 15px;
}

.appSummary figure .detail .rank {
	position: relative;
	z-index: 0;
	display: inline-block;
	height: 30px;
	margin-left: -30px;
	padding: 0 20px 0 30px;
	font-size: 19px;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	background: url(../img/layout/rankBg.png) right 0 no-repeat;
}

.appSummary figure .detail .rank span {
	padding: 0 5px;
	font-size: 24px;
	color: #FFEA00;
}

.appSummary figure .detail h1 {
	display: inline;
	font-size: 24px;
	font-weight: bold;
	color: #777;
}

.appSummary figure .detail h2 {
	margin-bottom: 15px;
	font-size: 28px;
	font-weight: bold;
}

.appSummary figure .detail figcaption {
	margin-bottom: 30px;
}

#footer .page {
	padding: 30px 0;
}

#footer .provider {
	margin-bottom: 20px;
	padding: 20px;
	background: #eee;
	border: 1px solid #ccc;
}

#footer .provider table {
	margin: 0 auto;
}

#footer .provider table tr th {
	padding-right: 20px;
	font-weight: bold;
	white-space: nowrap;
	border-collapse: collapse;
}

#footer .provider table tr td {
	white-space: nowrap;
}

#footer .provider table tr td p {
	margin-bottom: 10px;
}

#footer .provider table tr td p:last-child {
	margin-bottom: 0;
}

#footer .provider table tr td p a {
	text-decoration: underline;
}

#footer .copyright {
	text-align: center;
}

#tofacebook {
	position: fixed;
	bottom: 0;
	margin: 0 0 54px 0;
	z-index: 10;
	text-align: center;
}

#tofacebook a {
	display: block;
	width: 640px;
	padding: 30px 0;
}

#totop {
	position: fixed;
	bottom: 0;
	z-index: 10;
	background: url(../img/layout/totopBg.png) 0 0 repeat-x #000;
	text-align: center;
}

#totop a {
	display: block;
	width: 640px;
	padding: 30px 0;
}
